@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #902E14;
  --foreground: #F7F6ED;
}

@theme {
  /* Vermalion color palette */
  --color-vermalion-50: #FCEDE9;
  --color-vermalion-100: #F6CCC0;
  --color-vermalion-200: #F1AB98;
  --color-vermalion-300: #EB8A6F;
  --color-vermalion-400: #E35A34;
  --color-vermalion-500: #E0491F;
  --color-vermalion-600: #B83C19;
  --color-vermalion-700: #902E14;
  --color-vermalion-800: #67210E;
  --color-vermalion-900: #3F1409;
  --color-vermalion-950: #160703;

  /* Offwhite color palette */
  --color-offwhite-50: #F7F6ED;
  --color-offwhite-100: #E8E3CA;
  --color-offwhite-200: #DBD4AD;
  --color-offwhite-300: #CDC38E;
  --color-offwhite-400: #BFB26E;
  --color-offwhite-500: #B1A14E;
  --color-offwhite-600: #918440;
  --color-offwhite-700: #716732;
  --color-offwhite-800: #524A24;
  --color-offwhite-900: #322D16;
  --color-offwhite-950: #121008;

  /* Spacing tokens */
  --spacing-spacing-01: 2px;
  --spacing-spacing-02: 4px;
  --spacing-spacing-03: 8px;
  --spacing-spacing-04: 12px;
  --spacing-spacing-05: 16px;
  --spacing-spacing-06: 24px;
  --spacing-spacing-07: 32px;
  --spacing-spacing-08: 40px;
  --spacing-spacing-09: 48px;
  --spacing-spacing-10: 64px;
  --spacing-spacing-11: 80px;
  --spacing-spacing-12: 96px;
  --spacing-spacing-13: 160px;

  /* Font family */
  --font-family-sans: var(--font-electrolize), sans-serif;
  --font-family-electrolize: var(--font-electrolize), sans-serif;
  --font-family-doto: var(--font-doto), sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #902E14;
    --foreground: #F7F6ED;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  height: auto;
  width: 100dvw;
  overflow-x: hidden;
}