@import "tailwindcss";
@config "../tailwind.config.ts";

@utility mask-to-b {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 100%);
}

:root {
  --background: #111111;
  /* Darker neutral background for elements */
  --foreground: #F7F6ED;
  --vermelion: #F0440F;
}

@theme {
  --color-background: #111111;
  --color-foreground: #F7F6ED;

  --color-vermelion: #F0440F;
  --color-offwhite: #F7F6ED;
  --color-cyan: #00F0FF;

  --bg-noise: url('https://grainy-gradients.vercel.app/noise.svg');
}

body {
  background: #111111;
  /* True black background for full immersion */
  color: var(--foreground);
  min-height: 100dvh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.clip-path-slant {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 100%, 0 100%);
}