@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #f4400f;
  --foreground: #F7F6ED;
}

@theme {
  /* Vermelion color palette */
  --color-vermelion-50: #FDECE7;
  --color-vermelion-100: #FBCBBC;
  --color-vermelion-200: #F8A991;
  --color-vermelion-300: #F58766;
  --color-vermelion-400: #F2653A;
  --color-vermelion-500: #F0440F;
  --color-vermelion-600: #BF360C;
  --color-vermelion-700: #992B0A;
  --color-vermelion-800: #6E1F07;
  --color-vermelion-900: #431304;
  --color-vermelion-950: #180702;

  /* Cyan color palette */
  --color-cyan-50: #E7F8FD;
  --color-cyan-100: #BCECFB;
  --color-cyan-200: #91E0F8;
  --color-cyan-300: #66D4F5;
  --color-cyan-400: #3AC8F2;
  --color-cyan-500: #0FBBF0;
  --color-cyan-600: #0C95BF;
  --color-cyan-700: #0A7899;
  --color-cyan-800: #07566E;
  --color-cyan-900: #043443;
  --color-cyan-950: #021318;

  /* Offwhite color palette */
  --color-offwhite-50: #F7F6ED;
  --color-offwhite-100: #E8E3CA;
  --color-offwhite-200: #DBD4AD;
  --color-offwhite-300: #CDC38E;
  --color-offwhite-400: #BFB26E;
  --color-offwhite-500: #B1A14E;
  --color-offwhite-600: #918440;
  --color-offwhite-700: #716732;
  --color-offwhite-800: #524A24;
  --color-offwhite-900: #322D16;
  --color-offwhite-950: #121008;

  /* Spacing tokens */
  --spacing-spacing-01: 2px;
  --spacing-spacing-02: 4px;
  --spacing-spacing-03: 8px;
  --spacing-spacing-04: 12px;
  --spacing-spacing-05: 16px;
  --spacing-spacing-06: 24px;
  --spacing-spacing-07: 32px;
  --spacing-spacing-08: 40px;
  --spacing-spacing-09: 48px;
  --spacing-spacing-10: 64px;
  --spacing-spacing-11: 80px;
  --spacing-spacing-12: 96px;
  --spacing-spacing-13: 160px;

  /* Font family */
  --font-family-sans: var(--font-electrolize), sans-serif;
  --font-family-electrolize: var(--font-electrolize), sans-serif;
  --font-family-doto: var(--font-doto), sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4400f;
    --foreground: #F7F6ED;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}